/*Using @media to set board for different heights*/
@media(max-height: 950px){
    .board {
        height: 48em;
    }
}

@media(max-height: 900px){
    .board {
        height: 46em;
    }
}

@media(max-height: 850px){
    .board {
        height: 44em;
    }
}

@media(max-height: 800px){
    .board {
        height: 40em;
    }
}
@media(max-height: 750px){
    .board {
        height: 36em;
    }
}

@media(max-height: 700px){
    .board {
        height: 34em;
    }
}

@media(max-height: 650px){
    .board {
        height: 32em;
    }
}

@media(max-height: 600px){
    .board {
        height: 30em;
    }
}
.board-loading {
    display: flex;
    margin-top: 10em;
    justify-content: center;
}

.board {
    background-color: sandybrown;
    overflow-y: scroll;
}
.col {
    padding: 0 !important;
}
